:root {
    --bg: #1e1e1e;
    --bg-light: #282c34;
    --fg: #abb2bf;
    --red: #ff616e;
    --cyan: #4cd1e0;
    --dark-gray: #4f5666;
}

/* ---------- Layout ----------- */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
}

#editor {
    width: 60vw;
    height: 100vh;
}

#console-container {
    width: 40vw;
    height: 100vh;
}

@media screen and (max-width: 150vh) {
    body {
        flex-direction: column;
    }

    #editor {
        width: 100vw;
        height: 60vh;
    }

    #console-container {
        width: 100vw;
        height: 40vh;
    }
}

/* ---------- Console ---------- */
#console {
    padding: 1rem;
    font-family: monospace;
    color: var(--fg);
    font-size: 14px;
    height: calc(100% - 4rem);
    line-height: 19px;
    overflow-y: auto;
}

#console__buttons {
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    background-color: var(--bg-light);
}

#run-button, #kill-button {
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
}

#run-button {
    background-color: yellowgreen;
    clip-path: polygon(
        0 0,
        100% 50%,
        0 100%
    );
}

#kill-button {
    background-color: crimson;
}

#kill-button:disabled {
    opacity: 30%;
    cursor: unset;
}

/* ------------- Colors ------------ */
.bold {
    font-weight: bold;
}

.red {
    color: var(--red);
}

.cyan {
    color: var(--cyan);
}

.dark-gray {
    color: var(--dark-gray);
}
